{% extends "BlogApp/base.html" %}
{% block content %}

    <article class="media content-section">
        <div class="d-flex"> 
        <img class= "rounded-circle article-img" src="{{object.autor.profile.image.url}}" alt="">
        <div class="media-body flex-grow-1"> 
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.autor }}</a>
            <small class="text-muted">{{ object.data|date:"d M Y H:i" }}</small>
            </div>
            <h2 class="article-title">{{ object.titulo }}</h2>
            <p class="article-content">{{ object.conteudo }}</p>
        </div>
        </div>
    </article>

{% endblock content %}
