{% extends "BlogApp/base.html" %}
{% block content %}

    <article class="media content-section">
        <div class="d-flex"> 
        <img class= "rounded-circle article-img" src="{{object.autor.profile.image.url}}" alt="">
        <div class="media-body flex-grow-1"> 
            <div class="article-metadata">
            <a class="mr-2" href="{% url "user-posts" post.autor.username %}">{{ post.autor }}</a>
            <small class="text-muted">{{ object.data|date:"d M Y H:i" }}</small>
            
            
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="article-title">{{ object.titulo }}</h2>
            {% if object.autor == user %}
                <div>
                    <a class="btn btn-secondary btn-sm" href="{% url "post-update" object.id %}">Editar</a>
                    <a class="btn btn-danger btn-sm" href="{% url "post-delete" object.id %}">Excluir</a>
                </div>
            {% endif %}
        </div>
        
        <p class="article-content">{{ object.conteudo }}</p>
        </div>
        </div>
    </article>

{% endblock content %}
